@-moz-document domain('sourceforge.net') {
	.CodeMirror-lines {
		font-family: monospace;
	}
}

@-moz-document domain('forum.userstyles.org'), domain('greasyfork.org') {
	#Form_Body {
		font-family: monospace;
	}
}

@-moz-document domain('app.simplenote.com') {
	.note #txtarea {
		font-family: monospace;
	}
}

@-moz-document domain('myjetbrains.com') {
	textarea.ring-input {
		font-family: monospace;
	}
}

@-moz-document domain('userstyles.org') {
	.CodeMirror * {
		font-family: inherit;
	}

	textarea {
		font-family: monospace;
	}
}
